<div class="container-fluid">
  <div class="row event-detail-header">
    <div class="col-12">
      <h1>Tech Talks Topics</h1>
      <h2>This is going to be tag line</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>
              Topic
            </th>
            <th>
              Description
            </th>
            <th>
              Signed up ?
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let topic of allTopics;">
            <td>{{topic.topic}}</td>
            <td>{{topic.description}}</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-6">

    </div>
  </div>
  <a class="btn btn-primary text-white" [routerLink]="['/dashboard']">Back</a>
</div>
