<!--<div class="col-md-4 offset-md-3">
  <div id="accordion">
    <div class="card" *ngFor="let team of teams">
      <div class="card-header">
        <span class="mb-0">
          <a class="btn btn-link collapsed" href="/event/hackathon/teamInfo/{{team._id}}">
            {{team.teamName}}
          </a>
        </span>
        <button class="btn btn-primary pull-right" (click)="acceptRejectTeam(team._id, true)"><i class="fa fa-check-square"></i> Accept</button>
        <button class="btn btn-danger pull-right" (click)="acceptRejectTeam(team._id, false)"><i class="fa fa-ban"></i> Reject</button>
      </div>
      <div id="{{team._id}}" class="collapse" data-parent="#accordion">
        <div class="card-body">
          <button class="btn btn-primary" (click)="acceptRejectTeam(team._id, true)"><i class="fa fa-check-square"></i> Accept</button>
          <button class="btn btn-danger" (click)="acceptRejectTeam(team._id, false)"><i class="fa fa-ban"></i> Reject</button>
        </div>
      </div>
    </div>
  </div>
</div>-->

<div class="container-fluid">
  <h1>Hackathon Teams</h1>
  <div class="row">
    <div class="col-md-6 text-center">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>
              Team Name
            </th>
            <th>
              Status
            </th>
            <th>
              Action
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let team of teams; let i = index" [class.active]="i == selectedRow">
            <td>
              <button class="btn btn-link" (click)="getTeamDetails(team._id, i)">
                {{team.teamName}}
              </button>
            </td>
            <td>
              {{team.isApproved ? 'Approved' : 'Not Approved' }}
            </td>
            <td>
              <button class="btn btn-primary" (click)="acceptRejectTeam(team._id, true)" *ngIf="!team.isApproved"><i class="fa fa-check-square"></i> Accept</button>
              <button class="btn btn-danger" (click)="acceptRejectTeam(team._id, false)"><i class="fa fa-ban"></i> Reject</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6 text-center" *ngIf="teamDetail !== null">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>
            Task
          </th>
          <th>
            Status
          </th>
          <th>
            Remark
          </th>
          <th>
            Active
          </th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Git</td>
          <td>{{teamDetail.isGitRepoCreated ? 'Completed' : 'Pending'}}</td>
          <td>
            <button class="btn btn-link" *ngIf="teamDetail.isGitRepoCreated">{{teamDetail.gitRepo}}</button>
            <div *ngIf="!teamDetail.isGitRepoCreated">Pending</div>
          </td>
          <td>
            {{teamDetail.isActive ? 'Yes' : 'No'}}
          </td>
        </tr>
        <tr>
          <td>AWS</td>
          <td>Pending</td>
          <td>
            Pending
          </td>
          <td>
            No
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
