<div class="container-fluid">
  <div class="row event-detail-header">
    <div class="col-12">
      <h1>Treasure Hunt</h1>
      <h2>This is going to be tag line</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate nec ligula ut condimentum. Nunc sapien lectus, gravida in varius in, vulputate ut felis. Vestibulum sed venenatis augue. Donec ut enim eu purus sagittis maximus. Vestibulum semper, libero quis tristique sollicitudin, est libero ornare sem, id molestie enim arcu eget nibh. Nunc ut nisl arcu. Nunc pellentesque consectetur risus id fermentum. Pellentesque eget felis imperdiet leo dapibus congue. Curabitur vitae lorem tellus. Curabitur varius id ante tincidunt varius. Phasellus et risus erat. Fusce quis ante quis ligula luctus posuere non sit amet nulla. Curabitur nec est arcu. Proin vulputate metus in mi mollis tincidunt. Cras sed luctus ipsum. Morbi tincidunt interdum mauris, in elementum metus imperdiet in.
      </p>
      <p>
        Donec vel turpis nec felis iaculis accumsan. Morbi congue nisl eu bibendum maximus. Aliquam aliquam ex id ligula accumsan vehicula. In eget est et orci sollicitudin elementum. Nunc bibendum scelerisque purus, sed pellentesque nisl imperdiet id. In eu faucibus urna, non eleifend sem. Mauris convallis nisi sapien, et convallis sapien tempor vitae.
      </p>
      <p>
        Morbi viverra ultrices tincidunt. Proin eget rhoncus mauris. Nulla ac felis ex. Fusce sodales ultrices arcu, a interdum magna aliquet faucibus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In condimentum consequat purus ut auctor. Fusce ut quam bibendum, posuere ex at, fermentum urna. Etiam imperdiet ante metus, eget fermentum ipsum facilisis sed. Donec purus libero, tristique nec fringilla quis, finibus vel mauris.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate nec ligula ut condimentum. Nunc sapien lectus, gravida in varius in, vulputate ut felis. Vestibulum sed venenatis augue. Donec ut enim eu purus sagittis maximus. Vestibulum semper, libero quis tristique sollicitudin, est libero ornare sem, id molestie enim arcu eget nibh. Nunc ut nisl arcu. Nunc pellentesque consectetur risus id fermentum. Pellentesque eget felis imperdiet leo dapibus congue. Curabitur vitae lorem tellus. Curabitur varius id ante tincidunt varius. Phasellus et risus erat. Fusce quis ante quis ligula luctus posuere non sit amet nulla. Curabitur nec est arcu. Proin vulputate metus in mi mollis tincidunt. Cras sed luctus ipsum. Morbi tincidunt interdum mauris, in elementum metus imperdiet in.
      </p>
      <p>
        Donec vel turpis nec felis iaculis accumsan. Morbi congue nisl eu bibendum maximus. Aliquam aliquam ex id ligula accumsan vehicula. In eget est et orci sollicitudin elementum. Nunc bibendum scelerisque purus, sed pellentesque nisl imperdiet id. In eu faucibus urna, non eleifend sem. Mauris convallis nisi sapien, et convallis sapien tempor vitae.
      </p>
      <p>
        Morbi viverra ultrices tincidunt. Proin eget rhoncus mauris. Nulla ac felis ex. Fusce sodales ultrices arcu, a interdum magna aliquet faucibus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In condimentum consequat purus ut auctor. Fusce ut quam bibendum, posuere ex at, fermentum urna. Etiam imperdiet ante metus, eget fermentum ipsum facilisis sed. Donec purus libero, tristique nec fringilla quis, finibus vel mauris.
      </p>
    </div>
  </div>
  <a class="btn btn-primary text-white" [routerLink]="['/dashboard']">Back</a>
</div>
