<h1><strong>Question no: {{question['stage']}}</strong></h1>

<div [innerHtml]="question['body']"></div>
<div *ngIf="question['isMCQ']">
    <div *ngFor="let opt of question['options'];  let i=index; ">
        <label>{{i + ').'}}</label>
        <input type="radio"
              [(ngModel)] = "options"
              name="options"
              value="{{opt}}"
              (click)="toggleAnswersSelected(opt)" />
              <label>{{opt}}</label>
    </div>


<input [disabled] = "!options" type="button" class="btn btn-primary m-l-2" value="submit" (click)="checkAnswerAndChangeState(options)">
<input *ngIf="showNext" type="button" class="btn btn-primary m-l-3" value="next" (click)="getCurrentQuestion()">
  <br>
<div><a [routerLink]="['/dashboard']" class="btn btn-info">Back to Dashboard</a> </div>

</div>
<div *ngIf = "!question['isMCQ']">
  <br>
  <input type = "text" placeholder="Enter answer here" [(ngModel)] = "enteredAnswer" required/>
  <br>
  <br>
  <button class="btn btn-primary m-l-2"  (click)="checkAnswerAndChangeState(enteredAnswer)"> submit </button>
  <input *ngIf="showNext" type="button" class="btn btn-primary m-l-3" value="next" (click)="getCurrentQuestion()">
  <br>
  <div><a [routerLink]="['/dashboard']" class="btn btn-info">Back to Dashboard</a> </div>
</div>
