<h1><strong>Question no: {{question['stage']}}</strong></h1>

<!--<h2>{{question['question']}}</h2>-->
<div [innerHtml]="question['body']"></div>
<!--
<div *ngIf="!question['isMCQ']">
  <input type="text" [(ngModel)]="answer['text']">
</div>-->

<div *ngIf="question['isMCQ']">
    <div *ngFor="let opt of question['options'];  let i=index; ">
        <label>{{i + ').'}}</label>
        <input type="radio"
              name="options"
              value="{{opt}}"
              (click)="toggleAnswersSelected(opt)" />
              <label>{{opt}}</label>
    </div>
</div>

<input *ngIf="!showNext" type="button" class="btn btn-primary" value="submit" (click)="checkAnswerAndChangeState()">
<input *ngIf="showNext" type="button" class="btn btn-primary" value="next" (click)="getCurrentQuestion()">
