<div class="container-fluid">
  <div>
    {{eventDetails.name}}
  </div>
  <div>
    {{eventDetails.description}}
  </div>
  <div>
    <!--<a class="btn btn-primary" [routerLink]="['/event', 'registration', eventDetails.slug]" *ngIf="!eventDetails.isMember">
      Register
    </a>-->
    <a class="btn btn-primary text-white" (click)="eventRegistration()" *ngIf="!eventDetails.isMember">
      Register
    </a>
    <a class="btn btn-primary" [routerLink]="['/event',  eventDetails.slug, 'game']" *ngIf="eventDetails.isMember">
      Continue
    </a>
  </div>
</div>
